.navbar {
  background: linear-gradient(90deg, #0d47a1, #1976d2);
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

nav a:hover {
  color: #ffeb3b;
  border-bottom: 2px solid #ffeb3b;
  padding-bottom: 4px;
}
