<section class="inicio-contenedor">
  <div class="inicio-texto">
    <h1>Bienvenido al Sistema de Gestión del Comedor Popular</h1>
    <p>
    Nuestro objetivo es mejorar la atención, organización y transparencia dentro de los comedores populares de la región. 
    A través de esta plataforma podrás registrar beneficiarios, controlar insumos, gestionar raciones diarias y coordinar las actividades del comedor de manera rápida y ordenada.
    </p>
    <p>
    Este sistema ha sido desarrollado para apoyar a las personas en situación vulnerable y facilitar el trabajo de los voluntarios, brindando una herramienta moderna, accesible y fácil de usar.
    </p>

  </div>

  <div class="inicio-imagen">
    <img src="https://i.imgur.com/FTvqK3F.jpeg" alt="Imagen de bienvenida">
  </div>
</section>
