.sobre-section {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 50px 20px;
}

.sobre-texto {
  font-size: 17px;
  margin-bottom: 40px;
}

.valores {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.valor-card {
  width: 250px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.valor-card:hover {
  transform: translateY(-5px);
}
