<section class="section">
  <h1>Sobre nosotros</h1>
<p>
Somos un Comedor Popular comprometido con brindar apoyo alimentario a las familias en situación
de vulnerabilidad. Trabajamos día a día para ofrecer raciones nutritivas, accesibles y preparadas con responsabilidad
por un equipo de madres de familia, voluntarios y miembros de la comunidad.
</p>

<p>
Nuestro objetivo es mejorar la calidad de vida de las personas que más lo necesitan, fomentando valores
como la solidaridad, el respeto y la igualdad. A través de este sistema digital buscamos modernizar nuestros
procesos, organizar mejor nuestros recursos y brindar un servicio eficiente y transparente.
</p>

</section>
