  <div class="historia-container">
    <div class="historia-imagen">
      <img src="https://i.imgur.com/HLUjjsE.jpeg" alt="Historia del comedor">
    </div>

    <div class="historia-texto">
      <h1>Nuestra Historia</h1>
      <p>
      El Comedor Popular nació como una iniciativa comunitaria para brindar apoyo alimentario a las 
      familias en situación de vulnerabilidad. A lo largo del tiempo, mujeres líderes, madres de familia 
      y voluntarios se han organizado para preparar alimentos nutritivos y accesibles para quienes más lo necesitan.
      </p>

      <p>
      Este sistema web surge como una herramienta para modernizar y fortalecer el trabajo del comedor, 
      permitiendo gestionar beneficiarios, controlar insumos, registrar raciones diarias y optimizar la 
      coordinación de actividades. Nuestro compromiso es seguir ayudando a la comunidad con transparencia, 
      solidaridad y dedicación.
  </p>

    </div>
  </div>
